body {
  margin-top: 2em;
  background-color: #f1f2f2;
}

@media (prefers-color-scheme: dark) {
  body {
	 color: #ffffff;
   background-color: #404047;
  }

  form {
   color: #ffffff;
   background-color: #404047;
  }

  .bg-info {
    color: darkslategray;
  }

  .param {
    color: darkslategray;
  }
}